:host {
    position: relative;
    display: flex;
    flex: 1 1 auto;
    width: 100%;
    height: 100%;
    min-width: 0;
}

.container {
    background-color: #111;
}

.title-container {
    margin-left: 4%;
}

.feed-container {
    margin-left: 2%;
    margin-right: 1%;
}
.row {
    background-color: #ffffff !important;
    border: 1px #ccc !important;
    cursor: pointer !important;
}

.new-title {
    color: #333;
    font-size: 13pt;
}

mat-icon{
    visibility: hidden;
  }
  
mat-list-item:hover mat-icon{
    visibility: visible;
}
.time {
    color: #3333;
    font-size: 13pt;
}

.author {
    color: #999;
}

.row:hover {
    background-color: #fafafa !important;
}