<div fxLayout="column" fxFill>
    <div class="container"  fxFlex="45" fxLayout="column" fxLayoutAlign="center start">
        <div class="title-container">
            <h1 style="color: aliceblue; font-size: 64px;">HN Feed</h1>
            <h2 style="color: aliceblue;">We <3 hacker news! </h2>
        </div>
    </div>
    <div class="feed-container" fxFlex="55" >
        <mat-list>
            <div *ngFor="let new of news | async" >
                <mat-list-item class="row" *ngIf="new.story_tile || new.title">
                            <div fxFlex="70" (click)="goToUrl(new)" >
                                <span class="new-title" *ngIf="new.title && !new.story_tile">{{new.title}}</span>
                                <span class="new-title" *ngIf="new.story_tile && !new.title">{{new.story_tile}}</span>
                                <span class="author" >&nbsp; - {{new.author}} -</span>
                            </div>
                            <div fxFlex="30" fxLayout="row" fxLayoutAlign="center center">
                                <div fxFlex>
                                    {{new.created_at | myDate}}
                                </div>
                                <div fxFlex fxLayoutAlign="end center">
                                    <button mat-icon-button (click)="remove(new)">
                                        <mat-icon class="mat-24">delete</mat-icon>
                                    </button>
                                </div>
                            </div>
                </mat-list-item>
                <mat-divider></mat-divider>
            </div>
        </mat-list>
    </div>
</div>

